<!doctype html>
<html lang="en">
<head style="min-width: 150px">
    <meta charset="UTF-8">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>offline_BsC</title>

{#    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/pure-min.css') }}"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='js/menus-min.js') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
{#            <link rel="stylesheet" href="css/layouts/side-menu.css">#}

        <!--<![endif]-->
<style>
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
</style>

</head>
<body>

<div id="layout">
   <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div style="width: 200px">
        <div id = "menu" style="overflow: unset">
        <div class="pure-menu">
            <a href="/" class="pure-menu-heading">KsherPay APIs</a>
            <div class="pure-menu custom-restricted-width">
                <ul class="pure-menu-list">
                <li class="pure-menu-item">
                <li class="pure-menu-item pure-menu-has-children">
                    <a href="#" id="menuLink1" class="pure-menu-link" aria-haspopup="true">🔖Order Request</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item">
                            <a href="/native_pay" class="pure-menu-link">Ksher Native_Pay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/quick_pay" class="pure-menu-link">Ksher Quick_Pay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/jsapi_pay" class="pure-menu-link">Ksher Jsapi_Pay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/web_alipay" class="pure-menu-link">Ksher Web_Alipay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/wap_alipay" class="pure-menu-link">Ksher Wap_Alipay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/app_pay" class="pure-menu-link">Ksher APP_Pay API 🔗</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/minipro_pay" class="pure-menu-link">Ksher Miniprogram_Pay API 🔗</a>
                        </li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="/order_query" class="pure-menu-link">Order Query</a></li>
                <li class="pure-menu-item"><a href="/order_close" class="pure-menu-link">Order Close</a></li>
                <li class="pure-menu-item"><a href="/order_refund" class="pure-menu-link">Order Refund</a></li>
                <li class="pure-menu-item"><a href="/refund_query" class="pure-menu-link">Refund Query</a></li>
                <li class="pure-menu-item"><a href="/rate_query" class="pure-menu-link">Rate Query</a></li>
                <li class="pure-menu-item"><a href="pay_notify" class="pure-menu-link">Pay Notify</a></li>
                <li class="pure-menu-item"><a href="/error_codes" class="pure-menu-link">ERROR CODES</a></li>
            </ul>
            </div>

        </div>
    </div>
    </div>










    <div id = "main" >
        <div class="header">
            <h3>Offline B sacn C Solution </h3>

        </div>

        <div class="content">
            <P></P>
            <h3><a href="/quick_pay" class="pure-menu-link">Ksher Quick_Pay API 🔗</a></h3>
            <div>        Support e-wallets: WeChat Pay/Alipay/TrueMoney/AirPay/LinePay</div>



        </div>

        <div class = "footer">
            <div class="pure-u-1-3">

            </div>


        </div>

    </div>
</div>

{#<script src="static/js/ui.js"></script>#}
{#<script src="{{ url_for('static', filename='js/ui.js') }}"></script>#}
<script>
  (function (window, document) {
    'use strict'

    // Enable drop-down menus in Pure
    // Inspired by YUI3 gallery-simple-menu by Julien LeComte
    // [https://github.com/yui/yui3-gallery/blob/master/src/gallery-simple-menu/js/simple-menu.js]

    function PureDropdown (dropdownParent) {

      var PREFIX = 'pure-',
        ACTIVE_CLASS_NAME = PREFIX + 'menu-active',
        ARIA_ROLE = 'role',
        ARIA_HIDDEN = 'aria-hidden',
        MENU_OPEN = 0,
        MENU_CLOSED = 1,
        MENU_PARENT_CLASS_NAME = 'pure-menu-has-children',
        MENU_ACTIVE_SELECTOR = '.pure-menu-active',
        MENU_LINK_SELECTOR = '.pure-menu-link',
        MENU_SELECTOR = '.pure-menu-children',
        DISMISS_EVENT = (window.hasOwnProperty &&
          window.hasOwnProperty('ontouchstart')) ?
          'touchstart' : 'mousedown',

        ARROW_KEYS_ENABLED = true,

        ddm = this // drop down menu

      this._state = MENU_CLOSED

      this.show = function () {
        if (this._state !== MENU_OPEN) {
          this._dropdownParent.classList.add(ACTIVE_CLASS_NAME)
          this._menu.setAttribute(ARIA_HIDDEN, false)
          this._state = MENU_OPEN
        }
      }

      this.hide = function () {
        if (this._state !== MENU_CLOSED) {
          this._dropdownParent.classList.remove(ACTIVE_CLASS_NAME)
          this._menu.setAttribute(ARIA_HIDDEN, true)
          this._link.focus()
          this._state = MENU_CLOSED
        }
      }

      this.toggle = function () {
        this[this._state === MENU_CLOSED ? 'show' : 'hide']()
      }

      this.halt = function (e) {
        e.stopPropagation()
        e.preventDefault()
      }

      this._dropdownParent = dropdownParent
      this._link = this._dropdownParent.querySelector(MENU_LINK_SELECTOR)
      this._menu = this._dropdownParent.querySelector(MENU_SELECTOR)
      this._firstMenuLink = this._menu.querySelector(MENU_LINK_SELECTOR)

      // Set ARIA attributes
      this._link.setAttribute('aria-haspopup', 'true')
      this._menu.setAttribute(ARIA_ROLE, 'menu')
      this._menu.setAttribute('aria-labelledby', this._link.getAttribute('id'))
      this._menu.setAttribute('aria-hidden', 'true');
      [].forEach.call(
        this._menu.querySelectorAll('li'),
        function (el) {
          el.setAttribute(ARIA_ROLE, 'presentation')
        }
      );
      [].forEach.call(
        this._menu.querySelectorAll('a'),
        function (el) {
          el.setAttribute(ARIA_ROLE, 'menuitem')
        }
      )

      // Toggle on click
      this._link.addEventListener('click', function (e) {
        e.stopPropagation()
        e.preventDefault()
        ddm.toggle()
      })

      // Keyboard navigation
      document.addEventListener('keydown', function (e) {
        var currentLink,
          previousSibling,
          nextSibling,
          previousLink,
          nextLink

        // if the menu isn't active, ignore
        if (ddm._state !== MENU_OPEN) {
          return
        }

        // if the menu is the parent of an open, active submenu, ignore
        if (ddm._menu.querySelector(MENU_ACTIVE_SELECTOR)) {
          return
        }

        currentLink = ddm._menu.querySelector(':focus')

        // Dismiss an open menu on ESC
        if (e.keyCode === 27) {
          /* Esc */
          ddm.halt(e)
          ddm.hide()
        }
        // Go to the next link on down arrow
        else if (ARROW_KEYS_ENABLED && e.keyCode === 40) {
          /* Down arrow */
          ddm.halt(e)
          // get the nextSibling (an LI) of the current link's LI
          nextSibling = (currentLink) ? currentLink.parentNode.nextSibling : null
          // if the nextSibling is a text node (not an element), go to the next one
          while (nextSibling && nextSibling.nodeType !== 1) {
            nextSibling = nextSibling.nextSibling
          }
          nextLink = (nextSibling) ? nextSibling.querySelector('.pure-menu-link') : null
          // if there is no currently focused link, focus the first one
          if (!currentLink) {
            ddm._menu.querySelector('.pure-menu-link').focus()
          } else if (nextLink) {
            nextLink.focus()
          }
        }
        // Go to the previous link on up arrow
        else if (ARROW_KEYS_ENABLED && e.keyCode === 38) {
          /* Up arrow */
          ddm.halt(e)
          // get the currently focused link
          previousSibling = (currentLink) ? currentLink.parentNode.previousSibling : null
          while (previousSibling && previousSibling.nodeType !== 1) {
            previousSibling = previousSibling.previousSibling
          }
          previousLink = (previousSibling) ? previousSibling.querySelector('.pure-menu-link') : null
          // if there is no currently focused link, focus the last link
          if (!currentLink) {
            ddm._menu.querySelector('.pure-menu-item:last-child .pure-menu-link').focus()
          }
          // else if there is a previous item, go to the previous item
          else if (previousLink) {
            previousLink.focus()
          }
        }
      })

      // Dismiss an open menu on outside event
      document.addEventListener(DISMISS_EVENT, function (e) {
        var target = e.target
        if (target !== ddm._link && !ddm._menu.contains(target)) {
          ddm.hide()
          ddm._link.blur()
        }
      })

    }

    function initDropdowns () {
      var dropdownParents = document.querySelectorAll('.pure-menu-has-children')
      for (var i = 0; i < dropdownParents.length; i++) {
        var ddm = new PureDropdown(dropdownParents[i])
      }
    }

    initDropdowns()

  }(this, this.document))
</script>
</body>
